<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Breastcancer</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="icon" href="{{url_for('static', filename='img/disease2page.png')}}">
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/font-awesome.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
  <!-- Top section -->
  <section id="top-section" class="top-section">
    <div class="bg-colo">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="col-md-12">
            <div class="navbar-head">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{url_for('index')}}"><img
                  src="{{url_for('static', filename='img/logo.png')}}" class="img-responsive"
                  style="width:400px;height: 50px; margin-top: -18px;"></a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{{url_for('index')}}">Home</a></li>
                    <li class=""><a href="{{url_for('disease')}}">Disease</a></li>
                    <li class=""><a href="{{url_for('heart')}}">Heart</a></li>
                    <li class=""><a href="{{url_for('diabetes')}}">Diabetes</a></li>
                    <li class=""><a href="#">Pneumonia</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

      <div class="container">
        <div class="row">
          <div class="top-section-info">
            <div class="top-section-text text-center" style="margin-top:-70px" ;>
              <form class="well form-horizontal" action="/breastcancer" method="POST" id="contact_form">
                <fieldset>
                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                      <b>
                        <p style="color:rgb(126, 5, 31); font-size: 22px; margin-bottom: 23px;">Breast Cancer Diagnostic
                        </p>
                      </b>
                    </div>
                  </div>
                  <!-- Text input-->
                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="radius_mean" placeholder="Radius Mean" class="form-control" type="text">
                      </div>
                    </div>
                  </div>

                  <!-- Text input-->

                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="area_mean" placeholder="Area Mean" class="form-control" type="text">
                      </div>
                    </div>
                  </div>

                  <!-- Text input-->
                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="compactness_mean" placeholder="Compactness Mean" class="form-control" type="text">
                      </div>
                    </div>
                  </div>

                  <!-- Text area -->

                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="concavity_mean" placeholder="Concavity Mean" class="form-control" type="text">

                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="concave_points_mean" placeholder="Concave Points Mean" class="form-control"
                          type="text">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="area_worst" placeholder="Area Worst" class="form-control" type="text">
                      </div>
                    </div>
                  </div>
                  <!-- Text input-->
                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="compactness_worst" placeholder="Compactness Worst" class="form-control"
                          type="text">
                      </div>
                    </div>
                  </div>

                  <!-- Text area -->
                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="concavity_worst" placeholder="Concavity Worst" class="form-control" type="text">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="area_se" placeholder="Area Se" class="form-control" type="text">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="fractal_dimension_se" placeholder="Fractal Dimension Se" class="form-control"
                          type="text">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="symmetry_worst" placeholder="Symmetry Worst" class="form-control" type="text">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="fractal_dimension_worst" placeholder="Fractal Dimension Worst" class="form-control"
                          type="text">
                      </div>
                    </div>
                  </div>

                  <!-- Button -->
                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                      <button type="submit" class="btn btn-warning">Predict <span
                          class="glyphicon glyphicon-send"></span></button>
                    </div>
                  </div>

                  <div class="res">
                    <h3 style="color: rgba(6, 58, 82, 0.78);">{{prediction}}</h3>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <!--about-->
  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="section-title">
            <h2 class="head-title lg-line">Breast<br>Cancer</h2>
            <hr class="botm-line">
            <p class="sec-para">Breast cancer can occur in women and rarely in men.
              Symptoms of breast cancer include a lump in the breast, bloody discharge from the nipple and changes in
              the shape or texture of the nipple or breast.
              Its treatment depends on the stage of cancer. It may consist of chemotherapy, radiation, hormone therapy
              and surgery.</p>
          </div>
        </div>

        <div class="col-md-9 col-sm-8 col-xs-12">
          <div style="visibility: visible;" class="col-sm-9 more-features-box">
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>Symptoms</h3>
                <ul>
                  <li>1. Newly inverted nipple</li>
                  <li>2. Lump in the breast</li>
                  <li>3. Dimpling of skin</li>
                  <li>4. Change the breast size</li>
                  <li>5. Fluid comig from the nipple</li>
                  <li>6. Red scaly patch of skin on the breast</li>
                </ul>
              </div>
            </div>
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>Prevention</h3>
                <ul>
                  <li>1. Eat a healthy diet</li>
                  <li>2. Keep a healthy weight</li>
                  <li>3. Avoid smoking and drinking</li>
                  <li>4. Maintain your blood sugar level</li>
                  <li>5. Keeps your body physically active</li>
                </ul>
              </div>
            </div>

            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>Treatment</h3>
                <ul>
                  <li>1. Surgery</li>
                  <li>2. Chemotherapy</li>
                  <li>3. Targeted therapy</li>
                  <li>4. Hormonal therapy</li>
                  <li>5. Radition therapy</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <!-- Javascript files -->
  <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/custom.js')}}"></script>
</body>

</html>