<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disease Description</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="{{url_for('static', filename='img/disease2page.png')}}">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/font-awesome.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">



</head>
<!--    Section body   -->

<body>
    <section id="top-section" class="top-section">
        <div class="bg-color">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{{url_for('index')}}"><img
                                    src="{{url_for('static', filename='img/logo.png')}}" class="img-responsive"
                                    style="width:400px;height: 50px; margin-top: -18px;"></a>
                        </div>
                        <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="{{url_for('index')}}">Home</a></li>
                                <li class=""><a href="{{url_for('pneumonia')}}">Pneumonia</a></li>
                                <li class=""><a href="{{url_for('breastcancer')}}">Breast</a></li>
                                <li class=""><a href="{{url_for('diabetes')}}">Diabetes</a></li>
                                <li class=""><a href="{{url_for('heart')}}">Heart</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="top-section-info">
                        <div class="top-section-logo text-center">
                            <img src="{{url_for('static',filename='img/disease2page.png')}}" alt="logo"
                                style="width:700px;height: 500px; margin-top: -30px;" class="img-responsive">
                        </div>
                        <div class="overlay-detail text-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <!--about-->
    <section id="about" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="section-title">
                        <h2 class="head-title lg-line">Disease<br>Prediction</h2>
                        <hr class="botm-line">
                        <p class="sec-para">Please, read these instructions before using our machine learning
                            models. If you want to try it for learning purposes ,you can proceed to our
                            prediction section.</p>

                    </div>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <div style="visibility: visible;" class="col-sm-9 more-features-box">

                        <div class="more-features-box-text">
                            <div class="more-features-box-text-icon"> <i class="fa fa-angle-right"
                                    aria-hidden="true"></i> </div>
                            <div class="more-features-box-text-description">
                                <a href="{{url_for('pneumonia')}}">
                                    <h3 style="color: rgb(29, 3, 51);">Pneumonia</h3>
                                </a>
                                <p>Pneumonia is an infection that inflames the air sacs in one or both lungs. The air
                                    sacs may fill with fluid or pus (purulent material), causing cough with phlegm or
                                    pus, fever, chills, and difficulty breathing. A variety of organisms, including
                                    bacteria, viruses and fungi, can cause pneumonia.
                                </p>
                                <a href="{{url_for('pneumonia')}}"
                                    style="color: #0cb8b6; margin-top: 15px; padding-top:10px;">Predict
                                    with user input</a>

                                <img src="{{url_for('static', filename='img/pneumonia.png')}}" class="img-responsive"
                                    style=" width:240px;height: 270px;margin-top: 28px;">
                            </div>
                            <div class="more-features-box-text">
                                <div class="more-features-box-text-icon"> <i class="fa fa-angle-right"
                                        aria-hidden="true"></i> </div>
                                <div class="more-features-box-text-description">
                                    <a href="{{url_for('heart')}}">
                                        <h3 style="color: rgb(29, 3, 51);">Heart Failure</h3>
                                    </a>
                                    <p>Together CVD resulted in
                                        17.9 million deaths (32.1%) in 2015, up from 12.3 million (25.8%) in 1990.
                                        The term “heart disease” refers to several types of heart conditions. In the
                                        United
                                        States, the most common type of heart disease is coronary artery disease (CAD),
                                        which can lead to heart attack.
                                    </p>
                                    <a href="{{url_for('heart')}}" style="color: #0cb8b6; padding-top:10px;">Predict
                                        with
                                        user input</a>
                                    <img src="{{url_for('static', filename='img/heartdisease.png')}}"
                                        class="img-responsive" style=" width:170px;height: 210px;margin-top: 28px;">
                                </div>
                            </div>
                            <div class="more-features-box-text">
                                <div class="more-features-box-text-icon"> <i class="fa fa-angle-right"
                                        aria-hidden="true"></i> </div>
                                <div class="more-features-box-text-description">
                                    <a href="{{url_for('breastcancer')}}">
                                        <h3 style="color: rgb(29, 3, 51);">Breast Cancer</h3>
                                    </a>
                                    <p>Breast cancer can occur in women and rarely in men.
                                        Symptoms of breast cancer include a lump in the breast, bloody discharge from
                                        the
                                        nipple and changes in the shape or texture of the nipple or breast.
                                        Its treatment depends on the stage of cancer. It may consist of chemotherapy,
                                        radiation, hormone therapy and surgery.</p>

                                    <a href="{{url_for('breastcancer')}}"
                                        style="color: #0cb8b6; padding-top:20px;">Predict
                                        with user input</a>
                                    <img src="{{url_for('static', filename='img/breastcancer.png')}}"
                                        class="img-responsive" style=" width:180px;height: 180px;margin-top: 28px;">
                                </div>
                            </div>
                            <div class="more-features-box-text">
                                <div class="more-features-box-text-icon"> <i class="fa fa-angle-right"
                                        aria-hidden="true"></i> </div>
                                <div class="more-features-box-text-description">
                                    <a href="{{url_for('diabetes')}}">
                                        <h3 style="color: rgb(29, 3, 51);">Diabetes</h3>
                                    </a>
                                    <p>Diabetes is a disease that occurs when your blood glucose, also called blood
                                        sugar,
                                        is too high. Blood glucose is your main source of energy and comes from the food
                                        you
                                        eat. Insulin, a hormone made by the pancreas, helps glucose from food get into
                                        your
                                        cells to be used for energy.

                                    </p>
                                    <a href="{{url_for('diabetes')}}" style="color: #0cb8b6; padding-top:10px;">Predict
                                        with
                                        user input</a>
                                    <img src="{{url_for('static', filename='img/diabetes.png')}}" class="img-responsive"
                                        style=" width:180px;height: 210px;margin-top: 28px;">
                                </div>
                            </div>
                            <div class="more-features-box-text">
                                <div class="more-features-box-text-icon"> <i class="fa fa-angle-right"
                                        aria-hidden="true"></i> </div>
                                <div class="more-features-box-text-description">
                                    <a href="{{url_for('thyroid')}}">
                                        <h3 style="color: rgb(29, 3, 51);">Thyroid Disease</h3>
                                    </a>
                                    <p>The two main types of thyroid disease are hypothyroidism and hyperthyroidism.
                                        Both
                                        conditions can be caused by other diseases that impact the way the thyroid gland
                                        works. Conditions that can cause hypothyroidism include: Thyroiditis: This
                                        condition
                                        is an inflammation (swelling) of the thyroid gland.</p>
                                    <!-- <a href="{{url_for('thyroid')}}" style="color: #0cb8b6; padding-top:10px;">Predict with
                                    user input</a> -->
                                    <a href="http://127.0.0.1:5007" id="thyroidWeb"
                                        style="color: #0cb8b6; padding-top:10px;">Predict with user input</a>

                                    <img src="{{url_for('static', filename='img/thyroid.png')}}" class="img-responsive"
                                        style=" width:220px;height: 270px;margin-top: 28px;">

                                </div>
                            </div>
                        </div>
                        <div class="more-features-box-text">
                            <div class="more-features-box-text-icon"> <i class="fa fa-angle-right"
                                    aria-hidden="true"></i> </div>
                            <div class="more-features-box-text-description">
                                <a href="#">
                                    <h3 style="color: rgb(29, 3, 51);">Brain Tumor</h3>
                                </a>
                                <p> A cancerous or non-cancerous mass or growth of abnormal cells in the brain.
                                    Tumours can start in the brain, or cancer elsewhere in the body can spread to the
                                    brain.
                                    Symptoms include new or increasingly strong headaches, blurred vision, loss of
                                    balance, confusion and seizures.
                                </p>

                                <a href="#" style="color: #0cb8b6; padding-top:10px;">Predict with user input</a>
                                <img src="{{url_for('static', filename='img/brain_tumor.png')}}" class="img-responsive"
                                    style=" width:270px;height: 250px;margin-top: 28px;">
                            </div>
                        </div>
                        <div class="more-features-box-text">
                            <div class="more-features-box-text-icon"> <i class="fa fa-angle-right"
                                    aria-hidden="true"></i> </div>
                            <div class="more-features-box-text-description">
                                <a href="#">
                                    <h3 style="color: rgb(29, 3, 51);">Malaria</h3>
                                </a>
                                <p>Malaria is a disease caused by a parasite. The parasite is spread to humans through
                                    the bites of infected mosquitoes. People who have malaria usually feel very sick
                                    with a high fever and shaking chills. While the disease is uncommon in temperate
                                    climates, malaria is still common in tropical and subtropical countries.
                                </p>

                                <a href="" style="color: #0cb8b6; padding-top:10px;">Predict with user input</a>
                                <img src="{{url_for('static', filename='img/malaria.png')}}" class="img-responsive"
                                    style=" width:170px;height: 210px;margin-top: 28px;">
                            </div>
                        </div>
                        <div class="more-features-box-text">
                            <div class="more-features-box-text-description">
                                <h3 style="color: rgb(122, 9, 9);">ALERT !!</h3>
                                <p style="color: rgb(122, 9, 9);">
                                    Please, do not use this predictive model without the observation of medical expert.
                                    <br>
                                    <br>Feel free to try it for educational purposes.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--    Javascript files  -->
    <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/custom.js')}}"></script>
    <script>
        // Get the value from the query parameter
        var value = localStorage.getItem('aadharNo');
        var anchor = document.getElementById("thyroidWeb");
        anchor.href = anchor.href + "?aadharNo=" + value;
    </script>
</body>

</html>