<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thyroid Diagnostic</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="icon" href="{{url_for('static', filename='img/disease2page.png')}}">
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/font-awesome.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">

  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

</head>

<body>
  <section id="top-section" class="top-section">
    <div class="bg-colo">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="col-md-12">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{url_for('index')}}"><img
                  src="{{url_for('static', filename='img/logo.png')}}" class="img-responsive"
                  style="width:400px;height: 50px; margin-top: -18px;"></a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{{url_for('index')}}">Home</a></li>
                <li class=""><a href="{{url_for('disease')}}">Disease</a></li>
                <li class=""><a href="#about">About</a></li>

              </ul>
            </div>
          </div>
        </div>
      </nav>



      <div class="container">
        <div class="row">
          <div class="top-section-info">

            <div class="top-section-text text-center" style="margin-top:-70px" ;>


              <form class="well form-horizontal" action=" " method="post" id="contact_form">
                <fieldset>

                  <div class="form-group">
                    <b>
                      <p style="color:rgb(65, 26, 8); font-size: 22px; margin-bottom: 23px;">THYROID DISEASE PREDICTION
                      </p>
                    </b>

                    <label class="col-md-4 control-label"> </label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="DAge" placeholder="Age  " class="form-control" type="text">
                      </div>
                    </div>
                  </div>

                  <!-- Text input-->
                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="Sex" placeholder="Sex" class="form-control" type="text">
                      </div>
                    </div>
                  </div>

                  <!-- Text input-->

                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="On thyroxine " placeholder="On thyroxine " class="form-control" type="text">
                      </div>
                    </div>
                  </div>

                  <!-- Text input-->
                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="Query on thyroxine" placeholder="Query on thyroxine" class="form-control"
                          type="text">
                      </div>
                    </div>
                  </div>

                  <!-- Text area -->

                  <div class="form-group">
                    <label class="col-md-4 control-label"> </label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="On antithyroid medication " placeholder="On antithyroid medication "
                          class="form-control" type="text">

                      </div>
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="Sick" placeholder="Sick" class="form-control" type="text">

                      </div>
                    </div>
                  </div>
                  <!-- Text input-->

                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="Pregnant" placeholder="Pregnant" class="form-control" type="text">
                      </div>
                    </div>
                  </div>


                  <!-- Text input-->

                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="Thyroid  surgery" placeholder="Thyroid  surgery" class="form-control" type="text">
                      </div>
                    </div>
                  </div>
                  <!-- Text input-->
                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="I131 treatment" placeholder="I131 treatment" class="form-control" type="text">
                      </div>
                    </div>
                  </div>



                  <!-- Text area -->

                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="Treatment Query" placeholder="Treatment Query" class="form-control" type="text">

                      </div>
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="Query hypethyroid" placeholder="Query hypethyroid" class="form-control"
                          type="text">

                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="Lithium" placeholder="Lithium" class="form-control" type="text">

                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="Goitre" placeholder="Goitre" class="form-control" type="text">

                      </div>
                    </div>
                  </div>





                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="Tumor" placeholder="Tumor" class="form-control" type="text">

                      </div>
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="Hypopituitary" placeholder="Hypopituitary" class="form-control" type="text">

                      </div>
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="Psych" placeholder="Psych" class="form-control" type="text">

                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="TSH measured" placeholder="TSH measured" class="form-control" type="text">

                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="T3 measured " placeholder="T3 measured " class="form-control" type="text">

                      </div>
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="TT4 measured" placeholder="TT4 measured" class="form-control" type="text">

                      </div>
                    </div>
                  </div>



                  <div class="form-group">
                    <label class="col-md-4 control-label"> </label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="T4U measured  " placeholder="T4U measured  " class="form-control" type="text">

                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-4 control-label"> </label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="FTI measured  " placeholder="FTI measured  " class="form-control" type="text">

                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-4 control-label"> </label>
                    <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <input name="TBG measured  " placeholder="TBG measured  " class="form-control" type="text">

                      </div>
                    </div>
                  </div>


                  <!-- Button -->
                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                      <button type="submit" class="btn btn-warning">Predict<span
                          class="glyphicon glyphicon-send"></span></button>
                    </div>
                  </div>

                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>

  </section>

  <!--about-->
  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="section-title">
            <h2 class="head-title lg-line">THYROID<br>DISEASE</h2>
            <hr class="botm-line">
            <p class="sec-para">The two main types of thyroid disease are hypothyroidism and hyperthyroidism. Both
              conditions can be caused by other diseases that impact the way the thyroid gland
              works. Conditions that can cause hypothyroidism include: Thyroiditis: This condition
              is an inflammation (swelling) of the thyroid gland.</p>

          </div>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <div style="visibility: visible;" class="col-sm-9 more-features-box">
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>Symptoms</h3>
                <ul>
                  <li>1. Newly inverted nipple</li>
                  <li>2. Lump in the breast</li>
                  <li>3. Dimpling of skin</li>
                  <li>4. Change the breast size</li>
                  <li>5. Fluid comig from the nipple</li>
                  <li>6. Red scaly patch of skin on the breast</li>
                </ul>
              </div>
            </div>
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>Prevention</h3>
                <ul>
                  <li>1. Eat a healthy diet</li>
                  <li>2. Keep a healthy weight</li>
                  <li>3. Avoid smoking and drinking</li>
                  <li>4. Maintain your blood sugar level</li>
                  <li>5. Keeps your body physically active</li>
                </ul>
              </div>
            </div>
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>Treatment</h3>
                <ul>
                  <li>1. Surgery</li>
                  <li>2. Chemotherapy</li>
                  <li>3. Targeted therapy</li>
                  <li>4. Hormonal therapy</li>
                  <li>5. Radition therapy</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>


  <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/custom.js')}}"></script>

  <script src="contactform/contactform.js"></script>
</body>

</html>