<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>One destination to other</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/g_map.css') }}" />
    <!-- <script type="module" src="./g_map.js"></script> -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Nearby Hospital Finder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div id="map"></div>
    <div class="container">
        <br>
        <button type="button" id="get_details" class="btn btn-danger">Get Details</button>
        <br>
        <br>
        <br>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Hospital Name</th>
                    <th scope="col">Contact No.</th>
                    <th scope="col">Enquiry</th>
                    <th scope="col">Contact</th>
                </tr>
            </thead>
            <tbody id="curr_status">

            </tbody>
        </table>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuwroVWSiBVgJQ_zNMwbV-5oJQdalDnxI&libraries=places"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script>

        //finding location of ambulance

        infoWindow = new google.maps.InfoWindow();
        const location_arr = [];
        var map;
        var kop;
        var hosp, directionsService, directionsRenderer;
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                (position) => {
                    const pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude,
                    };


                    var chicago = new google.maps.LatLng(pos.lat, pos.lng);
                    var mapOptions = {
                        zoom: 15,
                        center: chicago
                    }
                    map = new google.maps.Map(document.getElementById('map'), mapOptions);


                    directionsService = new google.maps.DirectionsService();
                    directionsRenderer = new google.maps.DirectionsRenderer();
                    directionsRenderer.setMap(map);
                    kop = new google.maps.LatLng(pos.lat, pos.lng);


                    //locating hospitals within radius of 1000 km around ambulance
                    var request2 = {
                        location: kop,
                        radius: '1000',
                        type: ['hospital']
                    };
                    service = new google.maps.places.PlacesService(map);
                    service.nearbySearch(request2, callback);



                    console.log(pos);
                    infoWindow.setPosition(pos);
                    infoWindow.setContent("Location found.");
                    infoWindow.open(map);
                    map.setCenter(pos);
                },
                () => {
                    handleLocationError(true, infoWindow, map.getCenter());
                }
            );
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }

        //^^


        const place_detail_arr = [];

        function callback(results, status) {
            if (status == google.maps.places.PlacesServiceStatus.OK) {
                console.log(results.length);
                for (var i = 0; i < results.length; i++) {
                    // console.log(results[i]);

                    var latitude = results[i].geometry.location.lat();
                    var longitude = results[i].geometry.location.lng();
                    let hosp_details_obj = { name: results[i].name, id: results[i].place_id, location_coords: [latitude, longitude] }
                    hosp = new google.maps.LatLng(latitude, longitude);
                    calcRoute(hosp);


                    var request3 = {
                        placeId: results[i].place_id,
                        fields: ['name', 'formatted_phone_number']
                    };
                    service.getDetails(request3, callback2);


                    var marker = new google.maps.Marker({
                        position: hosp,
                        map: map,
                    })
                }
            }
        }
        function calcRoute(hosp) {
            var start = kop;
            var end = hosp;
            var request = {
                origin: start,
                destination: end,
                travelMode: 'DRIVING'
            };
            directionsService.route(request, function (result, status) {
                if (status == 'OK') {
                    directionsRenderer.setDirections(result);
                }
            });
        }



        function callback2(place, status) {
            if (status == google.maps.places.PlacesServiceStatus.OK) {

                place_detail_arr.push(place);

                // console.log(place_detail_arr.length);

                console.log(place);
            }
        }


        var button_click = document.getElementById('get_details');
        var status_table = document.getElementById('curr_status');
        button_click.addEventListener('click', function () {
            console.log(place_detail_arr.length);
            for (var i = 0; i < place_detail_arr.length; i++) {
                status_table.innerHTML += `
                <tr>
    <th scope="row">${i + 1}</th>
    <td name = "name${i}">${place_detail_arr[i].name}</td>
    <td name = "phone_no${i}">${place_detail_arr[i].formatted_phone_number}</td>
    <td><a href="/pno/${place_detail_arr[i].formatted_phone_number}"><button class="btn btn-success">Check Beds availability</button></a></td>
    <td><a href="http://localhost:3000"><button class="btn btn-success">Visit Hospital Website</button></a></td>
    </tr>
       `;
            }
        });


//3wJv)ni&HPA+,t7v twillio password
    </script>
</body>

</html>